
@{
    ViewBag.Title = "ChuaDangNhap";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Vui lòng đăng nhập</h2>
@Html.ActionLink("Đăng nhập", "Login", "Auth", null, new { @class = "btn btn-primary" })

