
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo">
                <h1><a href="#" title="Dreri">TTN</a></h1>
            </div> <!-- /.logo -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-9 col-sm-9 col-xs-6">
            <div class="menu text-right hidden-sm hidden-xs">
                <ul>
                    <li><a href="#home">Tóm tắt nhanh</a></li>
                    <li><a href="#home">@ViewBag.cc</a></li>
                    <li><a href="#home">Pháp luật</a></li>
                    <li><a href="#services">Ký sự</a></li>
                    <li><a href="#portfolio">Thủ thuật</a></li>
                </ul>
            </div> <!-- /.menu -->
        </div> <!-- /.col-md-8 -->
    </div> <!-- /.row -->
    <div class="responsive-menu text-right visible-xs visible-sm">
        <a href="#" class="toggle-menu fa fa-bars"></a>
        <div class="menu">
            <ul>
                <li><a href="#home">Tóm tắt nhanh</a></li>
                <li><a href="#home">Pháp luật</a></li>
                <li><a href="#services">Ký sự</a></li>
                <li><a href="#portfolio">Thủ thuật</a></li>
            </ul>
        </div> <!-- /.menu -->
    </div> <!-- /.responsive-menu -->
</div> <!-- /.container -->