<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>TomTatNhanh.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!--
    Compass Template
    http://www.templatemo.com/tm-454-compass
    -->
    <meta charset="UTF-8">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/templatemo-misc.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/templatemo-main.css">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">

    <!-- JavaScripts -->
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/modernizr.js"></script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->
</head>
<body>
    <div id="home">
        <div class="site-header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="left-header">
                                <span><i class="fa fa-phone"></i>Trang thông tin điện tử tổng hợp tin tức nhanh chính xác</span>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="right-header text-right">
                                <ul class="social-icons">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                </ul>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.top-header -->
            <div class="main-header">
               @Html.Action("MenuPartial", "Home")
            </div> <!-- /.header -->
        </div> <!-- /.site-header -->
    </div> <!-- /#home -->



    @RenderBody()


    <div id="portfolio" class="section-content">
        <div class="container">
            <div class="title-section text-center">
                <h2>Nổi bật</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="~/Content/images/portfolio/item1.jpg" alt="Portfolio Item 1">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item1.jpg">Nulla non enim</a></h4>
                                <span>Design</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="~/Content/images/portfolio/item2.jpg" alt="Portfolio Item 2">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item2.jpg">Duis nec urna</a></h4>
                                <span>Creative</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="~/Content/images/portfolio/item3.jpg" alt="Portfolio Item 3">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item3.jpg">Etiam magna</a></h4>
                                <span>Design</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="~/Content/images/portfolio/item4.jpg" alt="Portfolio Item 4">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item4.jpg">Vivamus dignissim</a></h4>
                                <span>Creative</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="~/Content/images/portfolio/item5.jpg" alt="Portfolio Item 5">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item5.jpg">Fusce semper</a></h4>
                                <span>HTML CSS</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="~/Content/images/portfolio/item6.jpg" alt="Portfolio Item 6">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item6.jpg">Nunc ultrices</a></h4>
                                <span>Mobile</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="~/Content/images/portfolio/item7.jpg" alt="Portfolio Item 7">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item7.jpg">Fusce vehicula</a></h4>
                                <span>HTML CSS</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="~/Content/images/portfolio/item8.jpg" alt="Portfolio Item 8">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item8.jpg">Vivamus elementum</a></h4>
                                <span>Mobile</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#portfolio -->

    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <p>Phát triễn bởi cộng đồng tin tức nhanh &copy; @DateTime.Now.Year.ToString() - Tin tóm tắt - tintomtat.net</p>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="go-top">
                        <a href="#" id="go-top">
                            <i class="fa fa-angle-up"></i>
                            Trang chủ
                        </a>
                    </div>
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/jquery.lightbox.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script type="text/javascript">

        function initialize() {
            var mapOptions = {
                scrollwheel: false,
                zoom: 15,
                center: new google.maps.LatLng(13.758468, 100.567481)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        }

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
                'callback=initialize';
            document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>

</body>
</html>